* { margin: 0; padding: 0; font-family: "Lato", sans-serif; }
body { background-color: white; }
a, a:visited { color: #078CFF; text-decoration: none; }
a:hover { text-decoration: underline; }

div#content { max-width: 800px; padding: 20px; margin: auto; }
div.background { position: absolute; top: 0px; left: 0px; right: 0px; background-color: #212121; z-index: -1; }

h1.header, h1.header a { font-size: 36px; color: #EFEFEF; }
h1.header a:hover { color: white; text-decoration: none; }
h1.header em { font-style: normal; font-weight: normal; }
h1.header img { height: 36px; }

div#navigation { font-size: 14px; margin-bottom: 40px; }
div#navigation a { text-decoration: none; color: #DDD; margin-right: 10px; }
div#navigation a:hover { color: #078CFF; }
div.nav { font-size: 14px; margin-bottom: 40px; }
div.nav a { text-decoration: none; color: #333; margin-right: 10px; }
div.nav a:hover { color: #078CFF; }

div#footer { font-size: 14px; margin-top: 40px; }
div#footer a { text-decoration: none; color: #222; margin-right: 10px; }
div#footer a:hover { color: gray; }

div.debug { max-width: 800px; padding: 20px; margin: auto; margin-bottom: 10px; }
div.debug ul { list-style: none; }
div.debug.dbg_error { border: double 5px red; }
div.debug.dbg_warn { border: double 5px yellow; }
div.debug.dbg_info { border: double 5px cyan; }

form.login { border: solid 1px #DEDEDE; padding: 20px; }
form.login label { font-size: 14px; color: #666; }
form.login input[type='text'], form.login input[type='password'], form.login input[type='number'], form.login input[type='file'] { display: block; margin: 2px 0px; width: 100%; box-sizing: border-box; font-size: 24px; padding: 8px; border: solid 1px #AAA; }
form.login .button { display: block; width: 250px; height: 32px; padding: 10px 25px; background-color: #212121; border: none; text-align: center; margin: auto; color: white; }
form.login .button:hover { color: #078CFF; }

p.error { background-color: #DD5656; padding: 6px; }

div.banner { margin-top: 10px; position: relative; width: 100%; height: 240px; background-position: center center !important; background-size: cover !important; background-repeat: no-repeat; background: repeating-linear-gradient(-55deg, #222, #222 10px, #333 10px, #333 20px); box-shadow: 0px 0px 2px #666; cursor: pointer; transform: scale(1); transition: all 0.1s ease-in; -webkit-filter: grayscale(50%); }
div.banner.featured { -webkit-filter: grayscale(0%); }
div.banner:hover { transform: scale(1.01); -webkit-filter: grayscale(0%); }
div.banner .h3_title, div.banner .statSchedule, div.banner .statRating, div.banner .statMediaType { position: absolute; color: white; padding: 2px 6px; font-family: 'Raleway', sans-serif; }
div.banner .h3_title { background-color: black; bottom: 5px; left: 0px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; max-width: 80%; }
div.banner h3 { margin: 0; margin-bottom: -4px; }
div.banner small { font-size: 12px; }
div.banner .statRating { background-color: rgba(0, 0, 0, 0.6); right: 0px; top: 5px; text-align: center; }
div.banner .statSchedule { font-size: 12px; background-color: rgba(0, 0, 0, 0.6); left: 0px; top: 5px; }
div.banner .statMediaType { font-size: 12px; background-color: rgba(0, 0, 0, 0.6); left: 0px; top: 23px; }
div.ctr { background-color: #EFEFEF; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; padding: 10px 0; margin: 0 10px; background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%, #EFEFEF 10px, #EFEFEF 100%); /*box-shadow: 0px 0px 8px black;*/ }
p.episode_row { padding: 2px 0 2px 15px; }
p.episode_row:hover { background-color: silver; }
a.button { background: #212121; padding: 4px 8px; display: inline-block; border-radius: 6px; color: #078CFF; }
a.button:visited { color: magenta; }
/*
background: repeating-linear-gradient(-55deg, #222, #222 10px, #333 10px, #333 20px);
*/


/* back-to-top courtesy of http://jsfiddle.net/gilbitron/Lt2wH/ */
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    background: #e9ebec;
}
#back-to-top.show {
    opacity: 1;
}

/* ripple effect - http://codepen.io/Craigtut/pen/dIfzv */

.fab{
  border-radius: 50%;
  margin:0;
  padding: 20px;
}

.material{
  position:relative;
  color:white;
  margin: 20px auto;
  height:400px;
  width:500px;
  background:#f45673;
  
}

.ripple{
  overflow:hidden;
}

.ripple-effect{
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white;

    
  animation: ripple-animation 2s;
}


@keyframes ripple-animation {
    from {
      transform: scale(1);
      opacity: 0.4;
    }
    to {
      transform: scale(100);
      opacity: 0;
    }
}